<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
    	<h1>{$title}</h1>
        <ul>
            <li>
                <strong>Jméno:</strong> {$values['name']}
            </li>
            <li>
                <strong>E-mail:</strong> {$values['email']}
            </li>
            <li>
                <strong>Telefon:</strong> {$values['phone']}
            </li>
            <li>
                <strong>Zpráva:</strong> {$values['message']}
            </li>
        </ul>

    </body>
</html>